<h1>FinFrog</h1>

<h2>Add New Transaction:</h2>
<form method="post" action="/transactions">
  <label for="amount_spent">Amount Spent:</label>
  <input type="number" name="amount_spent" id="amount_spent">

  <label for="merchant_id">Merchant:</label>
  <select name="merchant_id" id="merchant_id">
    <% @merchants.each do |merchant| %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select>

  <select name="tag_id" id="tag_id">
    <% @tags.each do |tag| %>
      <option value="<%= tag.id %>"><%= tag.category %></option>
    <% end %>
  </select>

  <input type="submit" value="Add">
</form>

<h3>Total Transactions</h3>
<p>Total: <%= Transaction.total_transactions %></p>

<h3>Total Budget</h3>
<p>Total: <%= Budget.total_budget %></p>

<h2>Alert Messages</h2>
<% if Transaction.total_transactions >= Budget.total_budget %>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You have exceeded your total budget limit!
</div>
<% end %>
<% if Transaction.total_transactions >= (Budget.total_budget / 100 * 75) && Transaction.total_transactions <= Budget.total_budget%>
<div class="amber-alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You are almost at your total budget limit!
</div>
<% end %>
