<h1>FinFrog</h1>

<h2>Add New Transaction</h2>
<div class="add-transaction">
<form method="post" action="/transactions">
  <div class="form">
    <li><label for="amount_spent">Amount Spent:</label></li>
  </div>
  <div class="input">
    <li><input type="number" name="amount_spent" id="amount_spent" required></li>
  </div>
  <div class="form">
    <li><label for="merchant_id">Merchant:</label></li>
  </div>
  <div class="input">
    <li><select name="merchant_id" id="merchant_id">
    <% @merchants.each do |merchant| %>
      <option value="<%= merchant.id %>"><%= merchant.name %></option>
    <% end %>
  </select></li>
  </div>
  <div class="form">
    <li><label for="tag_id">Tag:</label></li>
  </div>
  <div class="input">
    <li><select name="tag_id" id="tag_id">
      <% @tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.category %></option>
      <% end %>
    </select></li>
  </div>
  <div class="input">
    <li><input type="submit" value="Add"></li>
    <li><input type="submit" value="Cancel" href="/"></li>
  </div>
</form>
  </div>

<table id="center-tables">
<tr>
  <th>Total Amount Spent</th>
  <th>Maximum Budget</th>
</tr>
<tr>
  <td>£<%= Transaction.total_transactions %></td>
  <td>£<%= Budget.total_budget %></td>
</tr>
</table>

<h2>Alert Messages</h2>
<% if Transaction.total_transactions > Budget.total_budget %>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You have exceeded your total budget limit!
</div>
<% end %>
<% if Transaction.total_transactions >= (Budget.total_budget / 100 * 75) && Transaction.total_transactions < Budget.total_budget%>
<div class="amber-alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You are almost at your total budget limit!
</div>
<% end %>
<% if Transaction.total_transactions == Budget.total_budget%>
<div class="amber-alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You have matched your total budget limit!
</div>
<% end %>
