<h1>Edit Transaction</h1>
<div class="add-transaction">
  <form method="post" action="/transactions/<%= @transaction.id %>">
    <div class="form">
      <li><label for="amount_spent">Amount Spent:</label></li>
      </div>
      <div class="input">
        <li><input type="amount_spent" name="amount_spent" id="amount_spent" value="<%= @transaction.amount_spent %>"/></li>
      </div>
      <div class="form">
        <li><label for="merchant">Merchant:</label></li>
      </div>
      <div class="input">
        <li><select id="merchant" name="merchant_id" selected="<%= @transaction.merchant_id %>">
          <% Merchant.all.each do |merchant| %>
          <% if merchant.id == @transaction.merchant_id %>
          <option value=<%= merchant.id %> selected><%= merchant.name.capitalize %></option>
          <% else %>
          <option value=<%= merchant.id %>><%= merchant.name.capitalize %></option>
          <% end %>
          <% end %>
        </select>
        </li>
      </div>
      <div class="form">
        <label for="tag">Tag:</label>
      </div>
      <div class="input">
        <li><select id="tag" name="tag_id" selected="<%= @transaction.tag_id %>">
          <% Tag.all.each do |tag| %>
          <% if tag.id == @transaction.tag_id %>
          <option value=<%= tag.id %> selected><%= tag.category.capitalize %></option>
          <% else %>
          <option value=<%= tag.id %>><%= tag.category.capitalize %></option>
          <% end %>
          <% end %>
        </select>
        </li>
      </div>
      <div class="input">
        <li><input type="submit" value="Edit"/></li>
      </div>
    </form>
  </div>
