<br>
<h1>All Transactions</h1>
<div class="labels">
   <form method="get" action="/transactions/search/merchant">
     <label for="merchant_id">Search by Merchant:</label>
     <select name="id" id="merchant_id">
       <% @merchants.each do |merchant| %>
       <option value="<%= merchant.id %>"><%= merchant.name %></option>
       <% end %>
    <input type="submit" value="Search"/>
    </select>
    </form>
    <br>
</div>
<div class="labels">
    <form method="get" action="/transactions/search/tag">
      <label for="tag_id">Search by Tag:</label>
      <select name="id" id="tag_id">
        <% @tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.category %></option>
        <% end %>
     <input type="submit" value="Search"/>
     </select>
     </form>
     <br>
</div>
<table id="center-tables">
<tr>
  <th>Total Amount Spent</th>
  <th>Maximum Budget</th>
</tr>
<tr>
  <td>£<%= Transaction.total_transactions %></td>
  <td>£<%= Budget.total_budget %></td>
</tr>
</table>
<br>
<% if Transaction.total_transactions >= Budget.total_budget %>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You have exceeded your total budget!
</div>
<% end %>
<% if Transaction.total_transactions >= (Budget.total_budget / 100 * 75) && Transaction.total_transactions <= Budget.total_budget %>
<div class="amber-alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You are almost at your total budget limit!
</div>
<% end %>
<table id="transactions">
  <tr>
    <th>Date</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% @transactions.each do |transaction| %>
  <tr>
    <td><p><%= transaction.transaction_date %></p></td>
    <td><p><%= transaction.merchant.name %></p></td>
    <td><p><%= transaction.tag.category %></p></td>
    <td><p>£<%= transaction.amount_spent %></p></td>
    <td><div class="edit-delete"><a href="/transactions/<%=transaction.id%>/edit">Edit</a></td>
    <form action="/transactions/<%= transaction.id %>/delete" method="post">
    <td><input type="submit" value="Delete"/></td></form>
  </tr>
<% end %>
</table>
<table id="transactions">
<tr>
  <br>
    <th>Category</th>
    <th>Total</th>
  </tr>
<% @tags.each do |tag| %>
<tr>
    <td><p><%= tag.category %></p></td>
    <td><p><%= tag.total_for_tags %></p></td>
</tr>
<% end %>
</table>
