<h1>ALL Transactions</h1>

<a href="/">Add Transaction</a>

<% if Transaction.total_transactions >= Budget.total_budget %>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You have exceeded your total budget!
</div>
<% end %>
<% if Transaction.total_transactions >= (Budget.total_budget / 100 * 75) && Transaction.total_transactions <= Budget.total_budget %>
<div class="amber-alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You are almost at your total budget limit!
</div>
<% end %>

<!-- filter by: (drop down tags) (drop down mercchants)
(filters by chosen tag or merchant)  -->


<% @transactions.each do |transaction| %>
    <p>Date: <%= transaction.transaction_date %></p>
    <p>Merchant: <%= transaction.merchant.name %></p>
    <p>Tag: <%= transaction.tag.category %></p>
    <p>Amount: <%= transaction.amount_spent %></p>
    <a href="/transactions/<%=transaction.id%>/edit">Edit</a>
    <form action="/transactions/<%= transaction.id %>/delete" method="post">
    <input type="submit" value="Delete"/></form>
<% end %>

<h3>Total Transactions</h3>
<p>Total: <%= Transaction.total_transactions %></p>
<% @tags.each do |tag| %>
  <p>Catgory: <%= tag.category %> </p>
  <p>Total: <%= tag.total_for_tags %></p>
<% end %> </p>

<h3>Total Budget</h3>
<p>Total: <%= Budget.total_budget %></p>

<!-- add some logic here to add each category total spent -->
