<h1>All Transactions</h1>
<div>
   <form method="get" action="/transactions/search/merchant">
     <label for="merchant_id">Search by Merchant:</label>
     <select name="id" id="merchant_id">
       <% @merchants.each do |merchant| %>
       <option value="<%= merchant.id %>"><%= merchant.name %></option>
       <% end %>
    <input type="submit" value="Search"/>
    </select>
    </form>
</div>

    <form method="get" action="/transactions/search/tag">
      <label for="tag_id">Search by Tag:</label>
      <select name="id" id="tag_id">
        <% @tags.each do |tag| %>
        <option value="<%= tag.id %>"><%= tag.category %></option>
        <% end %>
     <input type="submit" value="Search"/>
     </select>
     </form>


<% if Transaction.total_transactions >= Budget.total_budget %>
<div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You have exceeded your total budget!
</div>
<% end %>
<% if Transaction.total_transactions >= (Budget.total_budget / 100 * 75) && Transaction.total_transactions <= Budget.total_budget %>
<div class="amber-alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
  <strong>Warning!</strong> You are almost at your total budget limit!
</div>
<% end %>
<div class="transaction-heading">
  <li><h2>Date</h2></li>
  <li><h2>Merchant</h2></li>
  <li><h2>Tag</h2></li>
  <li><h2>Amount</h2></li>
  </div>
<div class="flex-container">
<% @transactions.each do |transaction| %>
<div class="transactions">
    <li><p>Date: <%= transaction.transaction_date %></p></li>
    <li><p>Merchant: <%= transaction.merchant.name %></p></li>
    <li><p>Tag: <%= transaction.tag.category %></p></li>
    <li><p>Amount: <%= transaction.amount_spent %></p></li>
    <li><a href="/transactions/<%=transaction.id%>/edit">Edit</a></li>
    <li><form action="/transactions/<%= transaction.id %>/delete" method="post">
    <input type="submit" value="Delete"/></form></li>
</div>
<% end %>
</div>
<h3>Total Transactions</h3>
<p>Total: <%= Transaction.total_transactions %></p>
<% @tags.each do |tag| %>
  <p>Catgory: <%= tag.category %> </p>
  <p>Total: <%= tag.total_for_tags %></p>
<% end %> </p>

<h3>Total Budget</h3>
<p>Total: <%= Budget.total_budget %></p>

<!-- add some logic here to add each category total spent -->
