<h1>Transactions:</h1>
<table id="transactions">
  <tr>
    <th>Date</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th>Amount</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% @transactions.each do |transaction| %>
<tr>
  <td><p><%= transaction.transaction_date %></p></td>
  <td><p><%= transaction.merchant.name %></p></td>
  <td><p><%= transaction.tag.category %></p></td>
  <td><p>£<%= transaction.amount_spent %></p></td>
  <td><div class="edit-delete"><a href="/transactions/<%=transaction.id%>/edit">Edit</a></td>
  <form action="/transactions/<%= transaction.id %>/delete" method="post">
  <td><input type="submit" value="Delete"/></td></form>
</tr>
<% end %>
</table>
