<h2>Update Budget</h2>

<form method="post" action="/budgets/<%= @budget.id %>">

  <label for="name">Budget Name:</label>
  <select id="tag" name="tag_id" selected="<%= @budget.tag_id %>">
    <% Tag.all.each do |tag| %>
      <% if tag.id == @budget.tag_id %>
        <option value=<%= tag.id %> selected><%= tag.category.capitalize %></option>
      <% else %>
        <option value=<%= tag.id %>><%= tag.category.capitalize %></option>
      <% end %>
    <% end %>
  </select>
  

  <label for="budget">Budget Amount:</label>
  <input type="budget" name="budget" id="budget" value="<%= @budget.budget %>"/>
    <input type="submit" value="Update"/>
</form>
