<h1>Budgets</h1>
<h2>Add New Budget</h2>
<div class="add-transaction">
<form method="post" action="/budgets">
  <div class="form">
  <li><label for="name">Budget Name:</label></li>
  </div>
  <div class="input">
  <li><select name="tag_id" id="tag_id">
    <% @tags.each do |tag| %>
    <option value="<%= tag.id %>"><%= tag.category %></option>
    <% end %>
  </select></li>
  </div>
  <div class="form">
  <li><label for="budget">Budget Amount:</label></li>
  </div>
  <div class="input">
  <input type="number" name="budget" id="budget" required>
  </div>
  <div class="input">
  <li><input type="submit" value="Add Budget"/></li>
  <li><input type="submit" value="Cancel" href="/budgets"></li>
  </div>
</form>
</div>

<table id="budget-table">
<tr>
  <br>
    <th>Tag</th>
    <th>Budget</th>
    <th>Warning</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% @budget.each do |budget| %>
  <tr>
      <td><p><%= budget.tag.category %></p></td>
      <td><p><%= budget.budget() %></p></td>
      <td><% if budget.tag.total_for_tags >= budget.budget %>
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Warning!</strong> You have exceeded your total budget!
      </div>
      <% end %>
      <% if budget.tag.total_for_tags >= (budget.budget / 100 * 75) && budget.tag.total_for_tags <= budget.budget %>
      <div class="amber-alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Warning!</strong> You are close to your budget!
      </div>
      <% end %>
        </td>
        <td><a href="/budgets/<%=budget.id%>/edit">Edit</a></td>
        <td><form action="/budgets/<%= budget.id %>/delete" method="post">
        <input type="submit" value="Delete"></form></td>
  </tr>
<% end %>
