<h2>Add New Budget</h2>
<form method="post" action="/budgets">
  <label for="name">Budget Name:</label>

  <select name="tag_id" id="tag_id">
    <% @tags.each do |tag| %>
    <option value="<%= tag.id %>"><%= tag.category %></option>
    <% end %>
  </select>


  <label for="budget">Budget Amount:</label>
  <input type="number" name="budget" id="budget">

  <input type="submit" value="Add Budget"/>

</form>

<h1>Budgets</h1>

<% @budget.each do |budget| %>
      <p>Tag: <%= budget.tag.category %></p>
      <p>Budget: <%= budget.budget() %></p>
      <% if budget.budget <= budget.tag.total_for_tags %>
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Warning!</strong> You have exceeded your total budget!
      </div>
      <% end %>
      <% if (budget.budget / 100 * 75) <= budget.tag.total_for_tags && budget.budget >= budget.tag.total_for_tags  %>
      <div class="amber-alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Warning!</strong> You are close to your budget!
      </div>
      <% end %>
      <a href="/budgets/<%=budget.id%>/edit">Edit Budget</a>
      <form action="/budgets/<%= budget.id %>/delete" method="post">
        <input type="submit" value="Delete"></form>
<% end %>

<h3>Total Budget</h3>
<p>Total: <%= Budget.total_budget %></p>
